+prefix-classes('UI__')

  .spacer
    flex-grow 1
    margin 0 !important
    padding 0 !important
    
  .grid
    display grid
    white-space nowrap
    > div
      display flex
      padding 5px 10px
      &:last-child
        width 100%
    &.lined > div:not(.last)
      border-bottom 1px solid $lightGrey
      
  .showMore > summary
    interactive()
    padding 5px
    list-style none
    &::-webkit-details-marker
      display none
    .caret
      color $primaryDark
  .showMore[open] > summary .caret svg
    transform rotate(90deg)
    
  .interactive
    interactive()
    
  .overlay
    position fixed
    top 0
    bottom 0
    left 0
    right 0
    display flex
    justify-content center
    align-items center
  
  .modal
    column(10px)
    background rgba(0,0,0,0.7)
    rounded()
    padding 10px
    z-index 1
    .header
      font-size 20px
  
  .modalCloser
    position absolute
    top 0
    bottom 0
    left 0
    right 0